$peach: #faf3e3;
$black: #000000;
$green: #1a4d2e;
$yellow: #ff9f29;
$secondary: #f8f9fa;

@mixin button($first, $second) {
  border-radius: 25px;
  background-color: $first;
  border-color: $first;
  color: $second;
  padding: 0.5rem 1.5rem;

  &:hover {
    border-color: $first;
    background-color: $first;
  }

  &:active,
  &:focus {
    background-color: $first;
    border-color: $first;
    box-shadow: 0 0 0 0.25rem transparentize($first, 0.5);
  }
}

@mixin form($first, $second) {
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .form-control {
    max-width: 300px;
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 0.5rem 1rem;

    &:focus {
      border-color: $first;
      box-shadow: none;
    }
  }

  button {
    @include button($first, $second);
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

@mixin card {
  cursor: pointer;

  .card-img-top {
    height: 150px;
    object-fit: cover;
  }

  .card-body {
    .card-title {
      @include shortenElement();
      font-size: 18px;
    }

    .card-text {
      font-size: 12px;
    }
  }
}

@mixin cardOverlay {
  .card-title {
    color: $secondary;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
  }

  .card-text {
    color: $secondary;
    z-index: 2;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.25rem;
    z-index: 1;
  }
}

@mixin shortenElement() {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// Recipe Card
.recipe-card {
  @include card();
}

// Navbar
nav {
  .navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    color: $green;
    font-size: 25px;

    span {
      color: $yellow;
    }
  }

  .login {
    @include button($secondary, $green);
    &:focus {
      box-shadow: 0 0 0 0.25rem $secondary;
    }
  }

  .signup {
    @include button($green, $secondary);
  }
}

// Header
.header {
  border: none !important;

  .card-img {
    max-height: 600px;
    object-fit: cover;
  }

  .card-img-overlay {
    form {
      @include form($green, $secondary);
    }
  }
}

// All Categories
.categories-component {
  .categories-title {
    border: none !important;

    button {
      @include button($secondary, $green);
    }
  }

  .categories-card {
    overflow-x: auto;
    gap: 6px;

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: none;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $green;
      border-radius: 10px;
    }

    .card {
      cursor: pointer;
      width: 350px;
      flex: 0 0 auto;

      :hover {
        opacity: 0.95;
      }

      .card-img {
        max-height: 170px;
        object-fit: cover;
      }

      .card-img-overlay {
        @include cardOverlay();
      }
    }
  }
}

// New Recipe
.new-recipe-component {
  .categories-title {
    border: none !important;

    button {
      @include button($green, $secondary);
    }
  }
}

//Highlight Recipe
.highlight-recipe-component {
  border: none !important;

  .highlight-recipe-card {
    border: none;

    .card-text {
      @include shortenElement();
      -webkit-line-clamp: 3;
    }

    button {
      @include button($green, $secondary);
    }
  }
}

// Newsletter
.newsletter {
  .card-body {
    background-color: $green;
    color: $secondary;
    border-radius: 10px;

    form {
      @include form($yellow, $secondary);
    }
  }
}

.recipe-per-categories {
  .card-header-recipe-per-category {
    @include cardOverlay();

    .card-img {
      height: 300px;
      object-fit: cover;
    }
  }
}

.recipe-detail {
  .header-thumbnail {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .card-content {
    border: none;

    .card-info {
      border-radius: 20px;
      max-width: 800px;
      margin: 0 auto;
      padding: 10px;
      flex-wrap: wrap;

      .box {
        margin: 10px 30px;
        min-width: 50px;

        .card-text {
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }

    .card-ingredient {
      max-width: 900px;
      margin: 0 auto;

      .card-text {
        text-align: justify;
      }

      .row {
        padding: 10px auto;
      }
    }
  }
}

// Page Under Construction
.page-under-construction {
  .card {
    border: none;

    .card-img {
      max-width: 400px;
      margin: 0 auto;
    }

    a {
      @include button($green, $secondary);
    }
  }
}
