.recipe-card {
  cursor: pointer;
}
.recipe-card .card-img-top {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe-card .card-body .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 18px;
}
.recipe-card .card-body .card-text {
  font-size: 12px;
}

nav .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  color: #1a4d2e;
  font-size: 25px;
}
nav .navbar-brand span {
  color: #ff9f29;
}
nav .login {
  border-radius: 25px;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #1a4d2e;
  padding: 0.5rem 1.5rem;
}
nav .login:hover {
  border-color: #f8f9fa;
  background-color: #f8f9fa;
}
nav .login:active, nav .login:focus {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
nav .login:focus {
  box-shadow: 0 0 0 0.25rem #f8f9fa;
}
nav .signup {
  border-radius: 25px;
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  color: #f8f9fa;
  padding: 0.5rem 1.5rem;
}
nav .signup:hover {
  border-color: #1a4d2e;
  background-color: #1a4d2e;
}
nav .signup:active, nav .signup:focus {
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  box-shadow: 0 0 0 0.25rem rgba(26, 77, 46, 0.5);
}

.header {
  border: none !important;
}
.header .card-img {
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .card-img-overlay form input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.header .card-img-overlay form .form-control {
  max-width: 300px;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.5rem 1rem;
}
.header .card-img-overlay form .form-control:focus {
  border-color: #1a4d2e;
  box-shadow: none;
}
.header .card-img-overlay form button {
  border-radius: 25px;
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  color: #f8f9fa;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
}
.header .card-img-overlay form button:hover {
  border-color: #1a4d2e;
  background-color: #1a4d2e;
}
.header .card-img-overlay form button:active, .header .card-img-overlay form button:focus {
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  box-shadow: 0 0 0 0.25rem rgba(26, 77, 46, 0.5);
}

.categories-component .categories-title {
  border: none !important;
}
.categories-component .categories-title button {
  border-radius: 25px;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #1a4d2e;
  padding: 0.5rem 1.5rem;
}
.categories-component .categories-title button:hover {
  border-color: #f8f9fa;
  background-color: #f8f9fa;
}
.categories-component .categories-title button:active, .categories-component .categories-title button:focus {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.categories-component .categories-card {
  overflow-x: auto;
  gap: 6px;
}
.categories-component .categories-card::-webkit-scrollbar {
  height: 10px;
}
.categories-component .categories-card::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 10px;
}
.categories-component .categories-card::-webkit-scrollbar-thumb {
  background-color: #1a4d2e;
  border-radius: 10px;
}
.categories-component .categories-card .card {
  cursor: pointer;
  width: 350px;
  flex: 0 0 auto;
}
.categories-component .categories-card .card :hover {
  opacity: 0.95;
}
.categories-component .categories-card .card .card-img {
  max-height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories-component .categories-card .card .card-img-overlay .card-title {
  color: #f8f9fa;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
}
.categories-component .categories-card .card .card-img-overlay .card-text {
  color: #f8f9fa;
  z-index: 2;
}
.categories-component .categories-card .card .card-img-overlay:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.25rem;
  z-index: 1;
}

.new-recipe-component .categories-title {
  border: none !important;
}
.new-recipe-component .categories-title button {
  border-radius: 25px;
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  color: #f8f9fa;
  padding: 0.5rem 1.5rem;
}
.new-recipe-component .categories-title button:hover {
  border-color: #1a4d2e;
  background-color: #1a4d2e;
}
.new-recipe-component .categories-title button:active, .new-recipe-component .categories-title button:focus {
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  box-shadow: 0 0 0 0.25rem rgba(26, 77, 46, 0.5);
}

.highlight-recipe-component {
  border: none !important;
}
.highlight-recipe-component .highlight-recipe-card {
  border: none;
}
.highlight-recipe-component .highlight-recipe-card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.highlight-recipe-component .highlight-recipe-card button {
  border-radius: 25px;
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  color: #f8f9fa;
  padding: 0.5rem 1.5rem;
}
.highlight-recipe-component .highlight-recipe-card button:hover {
  border-color: #1a4d2e;
  background-color: #1a4d2e;
}
.highlight-recipe-component .highlight-recipe-card button:active, .highlight-recipe-component .highlight-recipe-card button:focus {
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  box-shadow: 0 0 0 0.25rem rgba(26, 77, 46, 0.5);
}

.newsletter .card-body {
  background-color: #1a4d2e;
  color: #f8f9fa;
  border-radius: 10px;
}
.newsletter .card-body form input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.newsletter .card-body form .form-control {
  max-width: 300px;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.5rem 1rem;
}
.newsletter .card-body form .form-control:focus {
  border-color: #ff9f29;
  box-shadow: none;
}
.newsletter .card-body form button {
  border-radius: 25px;
  background-color: #ff9f29;
  border-color: #ff9f29;
  color: #f8f9fa;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
}
.newsletter .card-body form button:hover {
  border-color: #ff9f29;
  background-color: #ff9f29;
}
.newsletter .card-body form button:active, .newsletter .card-body form button:focus {
  background-color: #ff9f29;
  border-color: #ff9f29;
  box-shadow: 0 0 0 0.25rem rgba(255, 159, 41, 0.5);
}

.recipe-per-categories .card-header-recipe-per-category .card-title {
  color: #f8f9fa;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
}
.recipe-per-categories .card-header-recipe-per-category .card-text {
  color: #f8f9fa;
  z-index: 2;
}
.recipe-per-categories .card-header-recipe-per-category:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.25rem;
  z-index: 1;
}
.recipe-per-categories .card-header-recipe-per-category .card-img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipe-detail .header-thumbnail {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.recipe-detail .card-content {
  border: none;
}
.recipe-detail .card-content .card-info {
  border-radius: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  flex-wrap: wrap;
}
.recipe-detail .card-content .card-info .box {
  margin: 10px 30px;
  min-width: 50px;
}
.recipe-detail .card-content .card-info .box .card-text {
  font-weight: bold;
  text-transform: capitalize;
}
.recipe-detail .card-content .card-ingredient {
  max-width: 900px;
  margin: 0 auto;
}
.recipe-detail .card-content .card-ingredient .card-text {
  text-align: justify;
}
.recipe-detail .card-content .card-ingredient .row {
  padding: 10px auto;
}

.page-under-construction .card {
  border: none;
}
.page-under-construction .card .card-img {
  max-width: 400px;
  margin: 0 auto;
}
.page-under-construction .card a {
  border-radius: 25px;
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  color: #f8f9fa;
  padding: 0.5rem 1.5rem;
}
.page-under-construction .card a:hover {
  border-color: #1a4d2e;
  background-color: #1a4d2e;
}
.page-under-construction .card a:active, .page-under-construction .card a:focus {
  background-color: #1a4d2e;
  border-color: #1a4d2e;
  box-shadow: 0 0 0 0.25rem rgba(26, 77, 46, 0.5);
}/*# sourceMappingURL=App.css.map */